header{
  background-color: rgb(50,50,50);
  color: white;
  min-height: 100%;
  display: flex;
  flex-direction: row;
}


header ul{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  vertical-align: middle; 
  align-content: center;
}

header #branding{
  font-size: 32px;
  margin-left: 10px;
}


#imagenCarrito{
  height: 32px;
  vertical-align: middle;
}

#numeroCarrito{
  background-color: red;
  
}

body{
  margin: 0;
  background-color: rgb(100,100,100)
}

main{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}
